<div class="jumbotron">

	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
	<table ng-show="clientes.length > 0" class="table table-striped">
		<tr>
			<th></th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('cpfCnpj')">Cpf-Cnpj</a></th>
			<th><a href="" ng-click="ordenarPor('email')">E-mail</a></th>
			<th><a href="" ng-click="ordenarPor('tipo')">Tipo</a></th>
		</tr>
		<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="cliente in clientes | filter:criterioDeBusca">
			<td><input type="checkbox" ng-model="contato.selecionado" ng-click="verificarContatoSelecionado(contatos)"/></td>
			<td><a href="#/detalhesContato/{{cliente.id_cliente}}">{{cliente.descricao}}</a></td>
			<td>{{cliente.cpfCnpj}}</td>
			<td>{{cliente.email}}</td>
			<td>{{cliente.tipo}}</td>
		</tr>
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="hasContatoSelecionado">Apagar Contatos</button>
</div>