<div class="jumbotron">
	<table class="table">
		
		<tr>
			<td> <p> ID </p> </td>
			<td>{{cliente.id_cliente}}</td>
		</tr>

		<tr>
			<td><p>Descricao </p> </td>
			<td>{{cliente.descricao}}</td>
		</tr>
		<tr>
			<td><p> Cpf/Cnpj</p> </td>
			<td>{{cliente.cpfCnpj}}</td>
		</tr>
		<tr>
			<td> <p> Email </p> </td>
			<td>{{cliente.email}}</td>
		</tr>
		<tr>
			<td><p> Tipo </p> </td>
			<td>{{cliente.tipo}}</td>
		</tr>
	</table>
	<a class="btn btn-primary" href="#/contatos">Voltar</a>
</div>