<div class="jumbotron">
	<form name="contatoForm">
		{{cliente}}
		<select class="form-control" ng-model="cliente.tipo">
			<option value="">Selecione o tipo</option>
			<option>Pessoa Física</option>
			<option>Pessoa Jurídica</option>
		</select>
		
		<div ng-show="cliente.tipo === 'Pessoa Física'">
			<input class="form-control" type="text" ng-model="cliente.descricao" name="nome" placeholder="Nome" ng-required="true"/>
			<input class="form-control" type="text" ng-model="cliente.cpfCnpj" name="cpf" placeholder="CPF" ng-required="true"/>
		<input class="form-control" type="text" ng-model="cliente.telefone" name="telefone" placeholder="Telefone" ng-required="true"/>
		</div>

		<div ng-show="cliente.tipo === 'Pessoa Jurídica'">
			<input class="form-control" type="text" ng-model="cliente.Descricao" name="nomeFantasia" placeholder="Nome Fantasia" ng-required="true" ng-minlength="10"/>
			<input class="form-control" type="text" ng-model="cliente.cpfCnpj" name="cnpj" placeholder="CNPJ" ng-required="true"/>
			<input class="form-control" type="text" ng-model="cliente.telefone" name="telefone" placeholder="Telefone" ng-required="true"/>
		</div>
	</form>
	<button class="btn btn-primary btn-block" ng-click="adicionarCliente(cliente)">Adicionar cliente</button>
</div>